@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Poppins:wght@300;700&family=Roboto+Slab:wght@300&display=swap');


*{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #14665e, rgb(230, 235, 170));
    color: #fff;
    padding: 12px;
}

.calculator{
    width: 100%;
    max-width: 500px;
    margin-top: 6%;
    margin-left: 10%;
}

.calculator h1{
    font-size: 50px;

}

.calculator h1 span{
    color: rgb(33, 68, 31);

}

.input-box{
    background-color: #8bb0ac;
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding: 20px 30px;
    border-radius: 10px;
}

.input-box input{
    padding: 15px 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0;
    flex: 1;
    outline: 0;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.input-box button{
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f7d0;
    font-weight: bold;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result{
    font-size: 20px;
    color: rgb(62, 52, 105);
    font-weight: bold;
}

#result span{
    color: #201414
}

@media screen and (max-width: 640px) {
    .calculator h1{
        font-size: 40px;
    }
    .calculator{
        max-width: 350px;
        margin-left: 0;
    }
    .input-box{
        margin-top: 70px;
        padding: 10px 15px;
    }
}